<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.zbao.news">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:name=".app.NewsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FlashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="false"/>
        <activity
            android:name=".GuideaActivity"
            android:exported="false"/>

        <activity
            android:name=".LoginActivity"
            android:exported="false"/>
    </application>

</manifest>